.env
config.php
*.ppk
Vizsgaremek.sql
*.json
comment.txt
ids.txt
venv/
time.txt
__pycache__/
output.log
test.php
test_mail.php
*.svg
*.jpg
*.png
images/
*.docx
debug.txt
debug.log
.idea/
*.sql
naplohoz.txt
todo.txt
Vizsgaremek_felulet*
Vizsgaremek_megvalositas*
!originally_planned_db.png
!final_db.png
!watchmatch.sql