*{
    padding: 0;
}

.header { /* felül írja amit kell */
    text-align: center;
    align-items: center;
}

#header_container {
    position: relative;
    margin-left: 220px;
}

#logo { /* felül írja amit kell */
    bottom: 30px;
    right: 30px;
    top: auto;
    left: auto;
}

#side_menu {
    position: absolute;
    top: 50px;
    left: 20px;
    background-color: #111827;
    padding: 0;
    border-radius: 10px;
    border: 1px solid #000000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 200px;
    height: auto;
}

#side_menu table {
    margin-top: 10px;
    width: 100%;
    border-collapse: collapse;
}

#side_menu th {
    text-align: center;
    width: 100px;
    height: 100px;
}

#profile_icon {
    width: 80px !important;
    height: auto !important;
    display: inline-block;
    border-radius: 50%;
    border: 2px solid #000;
    font-family: "ProfileIconFont", Arial, sans-serif;
    font-weight: normal;
    font-size: 100px;
    color: #fff;
    background-color: #000;
    line-height: 80px;
    text-align: center;
}

td {
    text-align: justify;
    padding: 10px;
}

#username {
    text-align: center;
}

#logout{
    padding-top: 100px;
}

#side_menu a {
    color: #bbb;
    font-weight: 600;
    text-decoration: none;
    padding:3px 10px;
}

#content {
    position: absolute;
    top: 150px;
    left: 240px;
    right: 20px;
    bottom: 20px;
    background-color: #111827;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid #000000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
}

.login_field {
    gap: 6px;
    margin-bottom: 14px;
}

label {
    font-size: 14px;
    color: #cbd5e1;
}

input {
    padding: 0px 10px;
    border-radius: 10px;
    border: 1px solid #374151;
    background-color: #0b1220;
}

select {
    padding: 12px;
    border-radius: 10px;
    border: 1px solid #374151;
    background: #0b1220;
    color: #e2e8f0;
}

#pf_icon {
    font-family: 'ProfileIconFont';
    font-size: 150px;
    padding: 0 50px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: url('https://www.kosmicdoom.com/watchmatch_media/drop_down_menu_arrow.svg') no-repeat right 10px center;
    background-size: 50px;
    padding-right: 40px;
    background-color: #0b1220;
}

.btn {
    width: 50%;
}

.friend_icon {
    width: 50px !important;
    height: auto !important;
    display: inline-block;
    border-radius: 50%;
    border: 2px solid #000;
    font-family: "ProfileIconFont";
    font-weight: normal;
    font-size: 50px;
    color: #fff;
    background-color: #000;
    line-height: 50px;
    text-align: center;
}

#friends_list {
    float: left;
}

#incoming_requests {
    float: left;
    margin-left: 150px;
}

#sent_requests {
    float: left;
    margin-left: 150px;
}