*  {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-optical-sizing: auto;
    color: #ffffff;  
    background-color: #0A0A14;
}

.header {
    text-align: center;
    background-color: #111827;
    margin: 8vh auto;
    padding: 24px;
    width: 400px;
    border-radius: 16px;
    align-items: center;
    font-weight: 500;
}

.brands {
    text-align: center;
    margin: 10px;
    padding: 5px;
    padding: 12px;
    border-radius: 10px;
    border: 1px solid #374151;
    background: #0b1220;
    color: #e2e8f0;
}

.blue-text {
    position:relative;
    top:-0.05em;
    color: #374151;
}

.bold-text {
    font-weight: 800;
}

.brands a {
    color: #ffffff;
    background-color: #374151;
    font-weight: 600;

    text-decoration: none; /* no underline */
    border-radius: 4px;
    padding:3px 10px 3px 10px;
    margin: 0px;
    letter-spacing: 1px;
}

#tmdb-logo {
    width: 50px !important;
    height: auto !important;
    display: inline-block;
}


.tmdb_logo_style {
    padding: 10px;
}

.btn {
    width: 160px;
    padding: 12px;
    border: none;
    border-radius: 10px;
    background: #2563eb;
    color: white;
    font-weight: 700;
    cursor: pointer;
    align-items: center;
}

.btn:hover {
    filter: brightness(1.1);
}

.login {
    text-align: center;
    margin: 30px auto 10px auto;
}

